<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Consejos de salud</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>
   
   <div class="consejos-de-salud container">
      <h1>Articulos para el cuidado de las mascotas </h1>
      <section>
         <h2>Cuidado dental: </h2>
         <p>El cuidado dental es esencial para la salud de tu mascota. Los dientes de los perros y gatos también
            necesitan cuidado. Cepillar los dientes de tu mascota regularmente con un cepillo y pasta de dientes
            especial para mascotas ayuda a prevenir la acumulación de placa y la formación de sarro, lo que puede llevar
            a enfermedades dentales, mal aliento e incluso pérdida de dientes. Los juguetes masticables también son una
            excelente opción para ayudar a mantener los dientes limpios y saludables de tu mascota. Además, es
            importante que tu mascota reciba una revisión dental regular por parte de un veterinario.</p>
         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/cepillo-de-dientes-para-gato.jpg"
               alt="cepillo de dientes para gato" />
            <h5>Cepillo de dientes para gato</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/pasta-de-dientes-para-perro.jpg"
               alt="pasta de dientes para perro" />
            <h5>Pasta de dientes para perro</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/cepillo-de-dientes-para-perro.jpg"
               alt="cepillo de dientes para perro" />
            <h5>Cepillo de dientes para perro</h5>
         </div>
      </section>

      <section>
         <h2>Control de pulgas y garrapatas:</h2>
         <p>Las pulgas y las garrapatas son parásitos comunes que pueden causar molestias y transmitir enfermedades a tu
            mascota. Es importante utilizar productos antipulgas y garrapatas recomendados por tu veterinario para
            proteger a tu mascota. En nuestra tienda de mascotas, ofrecemos una amplia gama de productos antipulgas y
            garrapatas, incluyendo collares, pipetas y sprays. Es importante seguir las instrucciones del fabricante y
            aplicar los productos de acuerdo a la edad, tamaño y especie de tu mascota. Además, es fundamental revisar a
            tu mascota regularmente en busca de pulgas y garrapatas, especialmente después de paseos al aire libre o en
            áreas con alta infestación. Si encuentras pulgas o garrapatas en tu mascota, es importante eliminarlas
            adecuadamente y tratar a tu mascota y su entorno para prevenir una reinfestación.</p>
         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/antipulgas-y-garrapatas.jpg"
               alt="antipulgas y garrapatas" />
            <h5>Antipulgas y garrapatas</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/collar-antipulgas.jpg" alt="collar antipulga" />
            <h5>Collar antipulgas</h5>
         </div>
      </section>


      <section>
         <h2>Cuidado de pelaje: </h2>
         <p>Cepillar regularmente el pelaje de tu mascota ayuda a mantenerlo limpio, libre de enredos y brillante. El
            cepillado también estimula la piel y mejora la circulación sanguínea. Además, un pelaje bien cuidado puede
            prevenir problemas de salud, como infecciones de la piel y alergias. En nuestra tienda de mascotas,
            ofrecemos una variedad de cepillos y peines que se adaptan a diferentes tipos de pelaje. Consulta con
            nuestros expertos para saber cuál es el mejor para tu mascota.</p>
         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/rodillo-quita-pelusa.jpg"
               alt="Rodillo quita pelusa" />
            <h5>Rodillo quita pelusa:</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/manopla-saca-pelusa-de-gato.jpg"
               alt="Manopla saca pelusa de gato" />
            <h5>Manopla saca pelusa</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/cepillo-de-acero.jpg" alt="Cepillo de acero" />
            <h5>Cepillo de acero</h5>
         </div>
      </section>

      <section>
         <h2>Ejercicio regular: </h2>
         <p>El ejercicio es fundamental para mantener a tu mascota saludable y feliz. Los perros necesitan al menos 30
            minutos de actividad física al día, como caminar, correr, jugar con otros perros o practicar deportes
            caninos como el agility. Los gatos, por otro lado, son más sedentarios, pero también necesitan cierta
            actividad física para evitar el sobrepeso y otros problemas de salud. Proporciónales juguetes que fomenten
            el movimiento, como pelotas o cañas de pescar, y crea un espacio seguro en el que puedan jugar y explorar.
            También puedes considerar la posibilidad de enseñarles trucos simples, lo que no solo les proporcionará
            ejercicio, sino también estimulación mental. Además, pasar tiempo al aire libre con tu mascota puede ser
            beneficioso para ambos, así que intenta planear actividades al aire libre juntos, como paseos en el parque o
            excursiones. No te olvides de ajustar el nivel de actividad de acuerdo a la edad, salud y condición física
            de tu mascota, y de consultar a tu veterinario si tienes preguntas o preocupaciones sobre el ejercicio de tu
            mascota.</p>
         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/pelota-para-perro.jpg" alt="Pelota para perro" />
            <h5>Pelota para perro</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/rueda-hamster.jpg" alt="Rueda hamster" />
            <h5>Rueda para hamster</h5>
         </div>
      </section>

      <section>
         <h2>Higiene y cuidado de uñas: </h2>
         <p>Es importante mantener las uñas de tu mascota recortadas regularmente. Las uñas demasiado largas pueden
            causar incomodidad y dolor al caminar y, en casos graves, incluso pueden causar deformidades en las patas.
            Para recortar las uñas de tu mascota, utiliza un cortaúñas especialmente diseñado para mascotas y asegúrate
            de no cortar la parte rosada de la uña, conocida como la raíz, ya que contiene vasos sanguíneos y nervios.
            También puedes considerar el uso de limas de uñas para mascotas para suavizar las uñas después del corte. Si
            no te sientes cómodo recortando las uñas de tu mascota, siempre puedes acudir a un peluquero o veterinario
            especializado para que lo hagan por ti.</p>
         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/cortauñas.jpg" alt="cortauñas" />
            <h5>Cortauñas</h5>
         </div>

         <div class="producto">
            <img class="imagen-producto" src="../static/salud-images/lima.jpg" alt="Lima" />
            <h5>Lima</h5>
         </div>
      </section>
   </div>
   
   <footer th:replace="~{layouts/footer :: footer}"></footer>
   
</body>

</html>