<!DOCTYPE html>
	<html lang="es">
		<head>
			<meta charset="UTF-8">
			<title>Inicio</title>
		</head>
		
		<body>
			<h1>Consejos de salud</h1>
			<h2>Articulos para el cuidado de las mascotas </h2>
			<hr>
			<br>
			<h3>Cuidado dental: </h3>
			<p>Los dientes de los perros y gatos también necesitan cuidado. Cepilla sus dientes regularmente con un cepillo y pasta de dientes especial 
				para mascotas.<br> También puedes proporcionarles juguetes masticables para mantener sus dientes limpios y saludables.
				
			<div style="display: inline-block; margin-right: 40px;">
				<img src="../static/salud-images/cepillo-de-dientes-para-perro.jpg" alt="CEPILLO DE DIENTES PARA PERRO" height = 200/>
				<p>CEPILLO DE DIENTES<br>PARA PERROS<p/>
			</div>
			
			<div style="display: inline-block; margin-right: 40px;">
				<img src="../static/salud-images/pasta-dental-para-perro.jpg" alt="PASTA DENTAL PARA PERROS" height = 200/>
				<p>PASTA DENTAL PARA PERROS<p/>
			</div>
			
			<br>
			<br>
			
			<h3>Control de pulgas y garrapatas:</h3>
			<p> Estos parásitos pueden transmitir enfermedades a tus mascotas. Utiliza productos antipulgas y garrapatas recomendados <br>
			por tu veterinario, y revisa a tu mascota regularmente en busca de estos parásitos.
			
			<div style="display: inline-block; margin-right: 40px;">			
				<img src="../static/salud-images/antipulgas-y-garrapatas.jpg" alt="ANTIPULGAS Y GARRAPATAS" height = 200/>
				<p>ANTIPULGAS Y GARRAPATAS<p/>
			</div>
			
			<div style="display: inline-block; margin-right: 40px;">			
				<img src="../static/salud-images/collar-antipulgas.jpg" alt="COLLAR ANTIPULGAS" height = 200/>
				<p>COLLAR ANTIPULGAS<p/>
			</div>
			
			<br>
			<br>
			
			<h3>Cuidado de pelaje</h3>
			<p>Es importante cepillar regularmente el pelaje de tu mascota para evitar la 
			formación de nudos y enredos, que pueden causar incomodidad y dolor  <br> en tu mascota. Además, cepillar regularmente ayuda a reducir la cantidad de pelo que tu mascota pierde en casa y ayuda a mantener su pelaje brillante y saludable.
			
			<div style="display: inline-block; margin-right: 40px;">			
				<img src="../static/salud-images/rodillo-quita-pelusa.jpg" alt="RODILLO SACA PELUSA" height = 200/>
				<p>RODILLO SACA PELUSA<p/>
			</div>
			
			<div style="display: inline-block; margin-right: 40px;">
				<img src="../static/salud-images/manopla-saca-pelusa-de-gato.jpg" alt="MANOPLA SACA PELUSA" height = 200/>
				<p>MANOPLA SACA PELUSA<p/>
			</div>
		</body>
	</html>