<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Datos de Contacto </title>
	</head>
	<body>
		<h1>¡CONTACTANOS!</h1>
		<p>3915 Av. General Belgrano, 388-4999999</p>
		<p> Lunes a Viernes: 9:00 a. m. a 8:00 p. m.</p>
		<p> Sabado a Domingo: 9:00 a. m. a 12:30 p. m.</p>
		<a href= "https://www.gmail.com">contacto@mail.com.ar</a>
		<ul>
			<li><a href="https://www.facebook.com" >Facebook</a></li>
			<li><a href="https://www.instagram.com">Instagram</a></li>
			<li><a href="https://www.twitter.com">Twitter</a></li>
		</ul>
			<form>
			<p>Nombre <input type="text" name="Nombre" placeholder="Ingrese su nombre"></p>
			<p>Email <input type="text" name="Email" placeholder="Ingrese un email valido" required></p>
			<p>Ciudad <input type="text" name="Ciudad" placeholder="Ingrese su ciudad" required></p>
			<p>Mensaje <input type="text" style="width: 350px; height: 75px" size=30 name="Mensaje" required></p>
			<button>Enviar</button>
			</form>
	</body>
</html>