<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Datos de Contacto </title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
	   	<div class="container">
	   		<div class="row">
	   			<div class="col-12 col-lg-6 m-auto">
	   				<div class="contacto-container">
				      <div class="contacto-header">
				      	<p>Contacto - Tel: 388-4999999</p>
				      </div>
				      <a id="correo" href="https://www.gmail.com">elarriero@gmail.com</a>
				      <ul class="mt-2">
				         <li><a class="btn btn-primary" href="https://www.facebook.com">Facebook</a></li>
				         <li><a class="btn btn-danger" href="https://www.instagram.com">Instagram</a></li>
				         <li><a class="btn btn-info" href="https://www.twitter.com">Twitter</a></li>
				      </ul>
				      <form class="contacto-form" th:action="@{/contacto/enviar}" th:object="${contacto}" method="post">
				         <label for="nombre">Nombre: <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" required></label>
				         <label for="email">Email: <input id="email" type="text" class="form-control" name="email" placeholder="Ingrese un email valido" required></label>
				         <label for="ciudad">Ciudad: <input id="ciudad" type="text" class="form-control" name="ciudad" placeholder="Ingrese su ciudad" required></label>
				         <label for="mensaje">Mensaje: <input id="mensaje" type="text" class="form-control" size=30 name="mensaje" required></label>
				         <p class="text-white" th:if="${enviado}">Su mensaje ha sido enviado. </p>
				         <button class="btn btn-light mt-3">Enviar</button>
				      </form>
				   </div>
	   			</div>
	   		</div>
	   	</div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>