<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Gestion de Datos</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"></header>
	
	<div class="container-fluid gestion-container">
	   <div class="container">
	   	  <h2 class="text-center h1 mb-3">Gestion de datos</h2>
	   	  
	   	  <div class="row">
              <article class="article-productos">
                   <div class="col-12 tabla-productos-container">
                        <a th:href="@{/productos/nuevo}" class="btn btn-dark mb-3">Nuevo producto</a>
                        <div class="mb-4">
                           <form action="/productos/filtrar-productos" method="get" class="row">
                             	<div class="col-12 col-lg-6 fechas mb-3 mb-lg-0">
								     <label for="categoria">filtrar por: </label>
									 <select class="form-control" id="categoria" name="categoria" required>
									   	<option th:each="prod : ${categoriasList}" th:value="${prod.nombre}" th:text="${prod.nombre}">
									 </select>
								</div>
								<div class="col-12 col-lg-6">
								      <input type="submit" class="btn btn-sm btn-dark" value="Filtrar">
								      <a class="btn btn-dark btn-sm" th:href="@{/productos/sin-filtro}">sin filtro</a>
								</div>
                           </form>
                         </div>
                         <div class="table-responsive">
                              <table class="table">
                                   <thead class="table-dark">
                                       <tr>
                                       	  <th>#ID</th>
                                          <th>Nombre</th>
                                          <th>Categoria</th>
                                          <th>Codigo</th>
                                          <th>Precio</th>
                                          <th>Descuento</th>
                                          <th>Precio final</th>
                                          <th>Acciones</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:each="prod: ${productos}">
                                          <td th:text="${prod.id}"></td>
                                          <td th:text="${prod.nombre}"></td>
                                          <td th:text="${prod.categorias.nombre}"></td>
                                          <td th:text="${prod.codigo}"></td>
                                          <td th:text="'$' + ${prod.precio}"></td>
                                          <td th:text="${prod.descuento} + '%'"></td>
                                          <td th:text="'$' + ${prod.precioFinal}"></td>
                                          <td>
                                             <a th:href="@{/productos/modificar/}+${prod.id}"
                                                class="btn btn-sm btn-secondary">Modificar
                                             </a>
                                             <a th:href="@{/productos/eliminar/}+${prod.id}"
                                                class="btn btn-sm btn-danger">Eliminar
                                             </a>
                                          </td>
                                       </tr>
                                   </tbody>
                              </table>
                          </div>
                    </div>
             </article>
          </div>
	   	  
	   	  <hr>
	   	  
	   	  <div class="row mt-5">
	   	     <div class="col-12 m-auto mb-5">
	   	       <h3 class="mb-3">Gestion de Consejos</h3>
	   	       <a class="btn btn-dark btn-agregarSucursal" th:href="@{/consejos_de_salud/nuevo}">Agregar Consejo de Salud</a>
               <div class="table-responsive">
                  <table class="table align-middle">
                     <thead>
                        <tr>
                           <th scope="col">#ID</th>
                           <th scope="col">Titulo</th>
                           <th scope="col">Categoria</th>
                           <th scope="col">Texto</th>
                           <th scope="col">Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                         <tr th:each="conse: ${consejos_de_salud}">
                             <td th:text="${conse.id}"></td>
                             <td th:text="${conse.titulo}"></td>
                             <td th:text="${conse.categoria}"></td>
                             <td>
		         			<span th:text="${#strings.substring(conse.texto, 0, 14)}"></span>
		         			<span th:if="${#strings.length(conse.texto) > 20}">...</span>
		         		 </td>
                             <td>
                                <a class="btn btn-sm btn-secondary" th:href="@{/consejos_de_salud/modificar/}+${conse.id}">Modificar</a>
                                <a class="btn btn-sm btn-danger" th:href="@{/consejos_de_salud/eliminar/}+${conse.id}">Eliminar</a>
                             </td>
                         </tr>
                      </tbody>
                  </table>
               </div>
	   	     </div>
	   	  </div>
	   	  
	   	  <hr>
	   	  
	      <div class="row my-5">
	         <div class="col-12 m-auto">

				<h3 class="mb-3">Gestion de Sucursales</h3>
				
				<div class="sucursales-opciones-container mb-3">
                   <a class="btn btn-dark btn-sucuagregar btn-agregarSucursal" th:href="@{/sucursales/nueva}">Agregar Sucursal</a>
	               <form action="/sucursales/filtrar-sucursales" method="get" class="row">
					    <div class="col-12 col-lg-6 fechas mb-3 mb-lg-0">
					        <label for="fechaInicio">Fecha de inicio:</label>
						    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
						    <label for="fechaFin">Fecha de fin:</label>
						    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
					    </div>
					    <div class="col-12 col-lg-6">
					        <input type="submit" class="btn btn-sm btn-dark" value="Filtrar">
					    	<a class="btn btn-dark btn-sm" th:href="@{/sucursales/sin-filtro}">sin filtro</a>
					    </div>
					</form>
               </div>
               <div class="table-responsive">
                  <table class="table align-middle">
                     <thead>
                        <tr>
                           <th scope="col">#ID</th>
                           <th scope="col">Nombre</th>
                           <th scope="col">Dirección</th>
<!--                            <th scope="col">Barrio</th> -->
                           <th scope="col">Ciudad</th>
                           <th scope="col">Provincia</th>
                           <th scope="col">Inaugurado</th>
                           <th scope="col">Teléfono</th>
                           <th scope="col">Estado</th>
                           <th scope="col">Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr th:each="sucu: ${sucursales}">
                           <td scope="row" th:text="${sucu.id}"></td>
                           <td th:text="${sucu.nombre}"></td>
                           <td th:text="${sucu.direccion}"></td>
<!--                            <td th:text="${sucu.barrio}"></td> -->
                           <td th:text="${sucu.ciudad}"></td>
                           <td th:text="${sucu.provincia.nombre}"></td>
                           <td th:text="${#temporals.format(sucu.fechaInauguracion, 'dd/MM/yyyy')}"></td>
                           <td th:text="${sucu.telefono}"></td>
                           <td th:text="${sucu.estadoStr}"></td>
                           <td>
                              <a class="btn btn-sm btn-secondary" th:href="@{/sucursales/modificar/}+${sucu.id}">Modificar</a>
                              <a class="btn btn-sm btn-danger" th:href="@{/sucursales/eliminar/}+${sucu.id}">Eliminar</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
					            
	         </div>
	      </div>
	   </div>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}"></footer>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>