<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   	<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

   	<header th:replace="~{layouts/header :: header}"></header>
   	
	<section>
		<img class="imagen-banner" th:src="@{/index-images/banner-tienda-de-mascotas.jpg}" alt="banner" title="tienda de mascotas">
	</section>
	<div class="container-fluid">
		<div class="pagina-inicio container">
			<div class="row">
				<div class="col-12 col-lg-8">
					<section class="section-inicio col-12">
						<article class="article-inicio">
							<p>Nuestro objetivo es poder ofrecer a nuestros compradores los mejores productos al mejor precio</p>
						</article>
						<article class="article-inicio">
							<p>Contamos con la mejor calidad en nuestros productos disponibles en todas nuestras sucursales de toda la provincia</p>
						</article>
						<article class="article-inicio">
							<p>Ofrecemos productos para tu mascota ya sea perro, gato, hamster, conejo, etc. productos 
							como collares antipulgas, correas, collares, y mucho mas! </p>
						</article>
					</section>
				</div>
				<div class="col-12 col-lg-4">
					<aside class="aside-inicio col-12">
						<h2>Nuevas Marcas de alimentos llegan a nuestra sucursales!</h2>
						<img th:src="@{/index-images/prod1.jpg}" alt="nuevo-alimento-perro" title="alimento para perro">
					</aside>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>