<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estiloss.css" />
</head>
<body>
	<header>
		<div class="titulo">
			<h1>Bienvenido a nuestra Tienda de Macotas "El Arriero"</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a href="./index.html">Inicio</a>
				</li>
				<li>
					<a href="./productos.html">Productos</a>
				</li>
				<li>
					<a href="./consejos_de_salud.html">Consejos de Salud</a>
				</li>
				<li>
					<a href="./sdpaseos.html">Servicio de Paseos</a>
				</li>
				<li>
					<a href="./sucursales.html">Sucursales</a>
				</li>
				<li>
					<a href="./contacto.html">Contactanos</a>
				</li>
			</ul>
		</nav>
   	</header>
	<section>
		<img src="../static/index-images/banner-tienda-de-mascotas.jpg" alt="banner" title="tienda de mascotas">
	</section>
	<div class="pagina-inicio container">
		<section>
			<article>
				<p>Nuestro objetivo es poder ofrecer a nuestros compradores los mejores productos al mejor precio</p>
			</article>
			<article>
				<p>Contamos con la mejor calidad en nuestros productos disponibles en todas nuestras sucursales de toda la provincia</p>
			</article>
			<article>
				<p>Ofrecemos productos para tu mascota ya sea perro, gato, hamster, conejo, etc. productos 
				como collares antipulgas, correas, collares, y mucho mas! </p>
			</article>
		</section>
		
		<aside>
			<h2>Nuevas Marcas de alimentos llegan a nuestra sucursales!</h2>
			<img src="../static/index-images/prod1.jpg" alt="nuevo-alimento-perro" title="alimento para perro">
		</aside>
	</div>
	
	<footer>
		<p>Copyright 2023 - El Arriero - Diseñado por Grupo 16 – Jujuy – República Argentina</p>
	</footer>
</body>
</html>