<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Servicios</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
   		<div class="nuevo-servicio container m-auto">
	      <div class="form-container col-12 col-sm-10 col-md-8 col-lg-5">
	   		<h2 class="label-header" th:text="${edicion}?'Modificacion de turno':'Consegui tu turno!'"></h2>
	   		
	      	<form th:action="${edicion} ? @{/servicios/modificar} : @{/servicios/guardar}" 
	      	      th:object="${servicio}" method="post">
	         <label for="nombre">Nombre del Dueño: </label>
	         <input type="text" class="input-servicio" name="nombre" id="nombre" 
	                th:disabled="${disabled ? 'disabled' : null}" required th:field="*{nombre}">
	                
	         <label for="nombreMascota">Nombre de la mascota: </label>
	         <input type="text" class="input-servicio" name="nombreMascota" id="nombreMascota" required th:field="*{nombreMascota}">
	         
	         <label for="servicio">Servicio: </label>
	         <select name="servicio" class="input-servicio" id="servicio" required th:field="*{servicio}">
	            <option value="">Seleccione servicio</option>
	            <option value="Paseo">Servicio de paseos</option>
	            <option value="Peluqueria">Servicio de peluqueria</option>
	            <option value="Baño">Servicio de Baño de mascotas</option>
	         </select>
	         
	         <label for="dia">Seleccione el día</label>
	         <select name="dia" class="input-servicio" id="dia" required th:field="*{dia}">
	            <option value="">Seleccione el Dia</option>
	            <option value="Lunes">Lunes</option>
	            <option value="Martes">Martes</option>
	            <option value="Miercoles">Miercoles</option>
	            <option value="Jueves">Jueves</option>
	            <option value="Viernes">Viernes</option>
	            <option value="Sabado">Sabado</option>
	         </select>
	         <input type="submit" class="boton-anotarse" th:value="${edicion} ? 'Guardar Cambios' : 'Anotarse'">
	      </form>
	      </div>
	   </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>