<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Productos</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="container m-auto">
         <section>
            <div class="row">
               <div class="col-12 col-md-9 col-lg-5 m-auto mt-4">
                  <form th:action="${codigo} ? @{/productos/}+${codigo} : @{/productos}" th:object="${formProducto}"
                     method="POST" class="form-nuevoProducto">
                     <div class="mb-3">
                        <label for="nombre-producto" class="form-label">Producto</label>
                        <input th:field="*{nombre}" type="text" class="form-control" id="nombre-producto"
                           placeholder="Nombre de producto">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                     </div>
                     <div class="mb-3">
                        <div class="col">
                           <label for="codigo-producto" class="form-label">Codigo</label>
                           <input th:field="*{codigo}" th:disabled="${codigo} ? disabled : null" type="number"
                              class="form-control" id="codigo-producto" placeholder="Codigo">
                           <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
                        </div>
                     </div>
                     <div class="mb-3">
                     	<div class="col">
                           <label for="categorias" class="form-label">Categoria</label>
                           <select th:field="*{categoria}" class="form-select" aria-label="categorias">
                              <option value="" selected>Seleccione una opcion</option>
                              <option value="alimentos">Alimentos</option>
                              <option value="juguetes">Juguetes</option>
                              <option value="correas">Correas</option>
                           </select>
                           <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                        </div>
                     </div>
                     <div class="mb-3">
                        <div class="col">
                           <label for="precio-producto" class="form-label">Precio</label>
                           <input th:field="*{precio}" type="number" class="form-control" id="precio-producto"
                              placeholder="Precio" >
                           <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                        </div>
                     </div>
                     <div class="mb-3">
                     	<div class="col">
                           <label for="descuento-producto" class="form-label">Descuento</label>
                           <input th:field="*{descuento}" type="number" class="form-control" id="descuento-producto"
                              placeholder="Descuento">
                        </div>
                     </div>
                     <button class="btn btn-light mt-3" type="submit">Guardar</button>
                  </form>
               </div>
            </div>
         </section>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>