<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Sucursales</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="nueva-sucursal container">
      <div class="form-sucursal-container">
         <h2 class="label-header" th:text="${edicion} ? 'Modificacion de sucursal' : 'Registrar nueva sucursal'"></h2>
         <form th:action="${edicion} ? @{/sucursales/modificar} : @{/sucursales/guardar}" th:object="${sucursal}" method="post">
            <label for="nombre">Nombre del la sucursal: </label>
            <input type="text" class="input-sucursal" name="nombre" id="nombre" th:disabled="${edicion ? 'disabled' : null}" required th:field="*{nombre}">
            <label for="direccion">Dirección: </label>
            <input type="text" class="input-sucursal" name="direccion" id="direccion" required th:field="*{direccion}">
            <label for="barrio">Barrio: </label>
            <input type="text" class="input-sucursal" id="barrio" required th:field="*{barrio}">
            <label for="ciudad">Ciudad: </label>
            <select name="ciudad" class="input-sucursal" id="ciudad" required th:field="*{ciudad}">
               <option value="San Salvador de Jujuy" selected>San Salvador de Jujuy</option>
               <option value="Palpala">Palpalá</option>
               <option value="El Carmen">El Cármen</option>
               <option value="Perico">Perico</option>
            </select>
            <label for="fechaInauguracion">Fecha de Inauguracion</label>
            <input type="date" name="fechaInauguracion" th:value="${sucursal.fechaInauguracion}" class="input-sucursal" id="fechaInauguracion" required >
            <label for="telefono">Teléfono: </label>
            <input type="text" name="telefono" class="input-sucursal" id="telefono" required th:field="*{telefono}">
            <input type="submit" id="boton-registrar" th:value="${edicion} ? 'Guardar Cambios' : 'Registrar nueva sucursal'">
         </form>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

</body>

</html>