<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Sucursales</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="nueva-sucursal container m-auto">
         <div class="row">
            <div class="col-12 col-lg-5 m-auto">
               <div class="form-sucursal-container">
                  <h2 th:text="${edicion} ? 'Modificacion de sucursal' : 'Registrar nueva sucursal'"></h2>
                  
                  <form class="form-sucursal" th:action="${edicion} ? @{/sucursales/modificar} : @{/sucursales/guardar}"
                        th:object="${sucursal}" method="post">
                     <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre del la sucursal: </label>
                        <input type="text" class="form-control" name="nombre" id="nombre" th:field="*{nombre}">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección: </label>
                        <input type="text" class="form-control" name="direccion" id="direccion"
                           th:field="*{direccion}">
                        <div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="barrio" class="form-label">Barrio: </label>
                        <input type="text" class="form-control" id="barrio" th:field="*{barrio}">
                        <div class="text-danger" th:if="${#fields.hasErrors('barrio')}" th:errors="*{barrio}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="imagen" class="form-label">URL de imagen: </label>
                        <input type="text" class="form-control" name="imagen" id="imagen"
                           th:field="*{imagen}">
                        <div class="text-danger" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad: </label>
                        <input type="text" name="ciudad" class="form-control" id="ciudad" th:field="*{ciudad}">
                        <div class="text-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></div>
                     </div>
                     <div class="mb-3">
				        <label for="provincia" class="form-label">Provincia:</label>
				        <select class="form-select" id="provincia" name="provincia.id" th:field="*{provincia}">
				            <option value="">Seleccione una opción</option>
				            <option th:each="provincia : ${provincias}" th:value="${provincia.id}" th:text="${provincia.nombre}"></option>
				        </select>
				        <div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
				    </div>
                     <div class="mb-3">
                        <label for="fechaInauguracion" class="form-label text-start">Fecha de Inauguracion</label>
                        <input type="date" class="form-control" name="fechaInauguracion"
                           th:value="${sucursal.fechaInauguracion}" id="fechaInauguracion">
                        <div class="text-danger" th:if="${#fields.hasErrors('fechaInauguracion')}" th:errors="*{fechaInauguracion}"></div>
                     </div>
                     <div class="mb-3">
                        <input type="hidden" class="form-control" name="estado" id="estado"
                           th:field="*{estado}">
                     </div>
                     <div class="mb-3">
                        <label for="estadoStr" class="form-label">Estado: </label>
                        <select name="estadoStr" class="form-select" id="estadoStr" th:field="*{estadoStr}">
                           <option value="">Seleccione una opción</option>
                           <option value="Abierto">Abierto</option>
                           <option value="Cerrado">Cerrado</option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('estadoStr')}" th:errors="*{estadoStr}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono: </label>
                        <input type="text" name="telefono" class="form-control" id="telefono"
                           th:field="*{telefono}">
                        <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                     </div>
                     <input type="submit" class="btn btn-light mt-3" id="bth-nuevaSucursal"
                        th:value="${edicion} ? 'Guardar Cambios' : 'Registrar nueva sucursal'">
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>