<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Productos</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="container m-auto">
         <section>
            <div class="row">
               <div class="col-12 col-md-9 col-lg-5 m-auto mt-4">
                  <form th:action="${edicion} ? @{/productos/modificar} : @{/productos/guardar}"
                        th:object="${producto}" method="post" class="form-nuevoProducto">
                     <input th:field="*{id}" type="hidden">
                     <div class="mb-3">
                        <label for="nombre-producto" class="form-label">Nombre del producto: </label>
                        <input th:field="*{nombre}" type="text" class="form-control" id="nombre-producto"
                               th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                     </div>
                     <div class="mb-3">
                        <label for="codigo-producto" class="form-label">Código: </label>
                        <input th:field="*{codigo}" th:readonly="${edicion} ? 'readonly' : null" type="number"
                               class="form-control" id="codigo-producto"
                               th:classappend="${not #fields.hasErrors('codigo')} and ${edicion} ? 'field-disabled' : ''">
                        <div class="text-danger" th:if="${#fields.hasErrors('codigo')} and ${not edicion}" th:errors="*{codigo}"></div>
                     </div>
                     <div class="mb-3">
                     	<div class="col">
                           <label for="categorias" class="form-label">Categoría: </label>
                           <select th:field="*{categoria.id}" class="form-select" aria-label="categorias">
                              <option value="">Seleccione una opción</option>
                              <option th:each="cat: ${categorias}" th:value="${cat.id}" th:text=${cat.nombre}></option>     
                           </select>
                           <div class="text-danger" th:if="${#fields.hasErrors('categoria')}"
                                th:errors="*{categoria}"></div>
                        </div>
                     </div>
                     <div class="mb-3">
                        <label for="imagen-producto" class="form-label">Imagen (URL): </label>
                        <input th:field="*{imagen}" type="text" class="form-control" id="imagen-producto"
                               th:classappend="${#fields.hasErrors('imagen')} ? 'is-invalid' : ''">
                        <div class="text-danger" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
                     </div>
                     <div class="mb-3">
                        <div class="col">
                           <label for="precio-producto" class="form-label">Precio: </label>
                           <input th:field="*{precio}" type="number" class="form-control" id="precio-producto">
                           <div class="text-danger" th:if="${#fields.hasErrors('precio')}"
                                th:errors="*{precio}">
                           </div>
                        </div>
                     </div>
                     <div class="mb-3">
                     	<div class="col">
                           <label for="descuento-producto" class="form-label">Descuento: </label>
                           <input th:field="*{descuento}" type="number" class="form-control" id="descuento-producto"
                                  th:classappend="${#fields.hasErrors('descuento')} ? 'is-invalid' : ''">
                           <div class="text-danger" th:if="${#fields.hasErrors('descuento')}"
                                th:errors="*{descuento}"></div>
                        </div>
                     </div>
                     <input th:field="*{estado}" type="hidden">
                     <button class="btn btn-light mt-3" type="submit" th:text="${edicion} ? 'Guardar Cambios' : 'Guardar' "></button>
                  </form>
               </div>
            </div>
         </section>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>