<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Productos</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

	<header th:replace="~{layouts/header :: header}"></header>
	
	<div class="productos-container">
		<section class="container">
			<table class="table table-hover table-secondary">
				<thead class="table-dark">
					<tr> 
						<th>Nombre</th>
						<th>Categoria</th>
						<th>Codigo</th>
						<th>Precio</th>
						<th>Descuento</th>
						<th>Precio final</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="prod: ${productos}">
						<td th:text="${prod.nombre}"></td>
	                    <td th:text="${prod.categoria}"></td>
	                    <td th:text="${prod.codigo}"></td>
	                    <td th:text="${prod.precio}"></td>
	                    <td th:text="${prod.descuento}"></td>
	                    <td th:text="${prod.precioFinal}"></td>
	                    <td>
	                        <a class="btn btn-secondary">Modificar</a>
	                        <a class="btn btn-danger">Eliminar</a>
	                    </td>
					</tr>
				</tbody>
			</table>
		</section>
      <img id="imagenproductos" width="500 px" height="370 px" th:src="@{/productos-images/petshop.jpg}"
         alt="Suministros para mascotas">
      <section id="Alimentacion">
         <h2>Productos de Alimentacion para la mascota</h2>
         <div class="contenido">
            <div class="bloque">
               <div class="fila">
                  <div class="producto">
                     <h3>Alimento para Perro</h3>
                     <img th:src="@{/productos-images/alimento_rosco.jpg}" alt="Alimento Rosco">
                     <p>Lo que tenés que saber de este producto </p>
                     <ul>
                        <li>Recomendado para perro adulto</li>
                        <li>Comida seca.</li>
                        <li>Sabor: carne.</li>
                        <li>Sabor y nutrición completa para tu mascota.</li>
                        <li><strong>Precio: </strong>$4894</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/alimento_raza.jpg}" alt="Alimento Raza">
                     <p>Lo que tenés que saber de este producto </p>
                     <ul>
                        <li>Un alimento ideal para perros adultos que llevan una vida sedentaria y conviven con su
                           familia en espacios reducidos</li>
                        <li>Comida seca.</li>
                        <li>Sabor: carne.</li>
                        <li>Menos grasa</li>
                        <li><strong>Precio: </strong>$4500</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/alimento_dogui.jpg}" alt="Alimento Dogui">
                     <p>Lo que tenés que saber de este producto </p>
                     <ul>
                        <li>Alimento para todas las razas y tamaños</li>
                        <li>19% de proteínas</li>
                        <li>Sabor: Carne, Cereales y Arroz</li>
                        <li>Aroma extra que les encanta!!</li>
                        <li><strong>Precio: </strong>$7200</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/alimento_pedigree.jpg}" alt="Alimento Pedigree">
                     <p>Lo que tenés que saber de este producto </p>
                     <ul>
                        <li>24 vitaminas y minerales para una nutrición completa y balanceada</li>
                        <li>Proteínas de alta calidad</li>
                        <li>Vegetales y granos selectos</li>
                        <li>Óptima digestión</li>
                        <li><strong>Precio: </strong>$5200</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <h3>Alimento para Gato</h3>
         <div id="AlimentoGato">
            <div class="contenido">
               <div class="bloque">
                  <div class="fila">
                     <div class="producto">
                        <img th:src="@{/productos-images/whiskas.jpg}" alt="Alimento Whiskas">
                        <p>Lo que tenés que saber de este producto </p>
                        <ul>
                           <li>Recomendado para gato adulto.</li>
                           <li>Comida seca.</li>
                           <li>Sabor: pescado.</li>
                           <li>Proteína para una nutrición completa</li>
                           <li><strong>Precio: </strong>$9010</li>
                        </ul>
                     </div>
                     <div class="producto">
                        <img width="220 px" height="200 px" th:src="@{/productos-images/gati.jpg}"
                           alt="Alimento Gati">
                        <p>Lo que tenés que saber de este producto </p>
                        <ul>
                           <li>Etapa de vida de la mascota: Adulto</li>
                           <li>Comida seca.</li>
                           <li>Sabor: Pescado con vegetales</li>
                           <li><strong>Precio: </strong>$1900</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="alimentoc">
            <h3>Alimento para Conejos y roedores</h3>
            <div class="contenido">
               <div class="bloque">
                  <div class="fila">
                     <div class="producto">
                        <img width="220 px" height="200 px"
                           th:src="@{/productos-images/alimento_conejosyroedores.jpg}"
                           alt="Alimento para Conejos o roedores">
                        <p>Lo que tenés que saber de este producto </p>
                        <ul>
                           <li>Alimento fresco diario para Conejos y Roedores</li>
                           <li>Bajo en calorías.</li>
                           <li>Ayuda al sistema digestivo además de ser un gran estimulante para tu mascota.</li>
                           <li><strong>Precio: </strong>$1500</li>
                        </ul>
                     </div>
                     <div class="producto">
                        <img width="170 px" height="190 px" th:src="@{/productos-images/alimentoparahamster.jpg}"
                           alt="Alimento para Hamster">
                        <p>Lo que tenés que saber de este producto </p>
                        <ul>
                           <li>Alimento para hámster RedKite</li>
                           <li>Aporta los nutrientes necesarios para el óptimo desarrollo del roedor.</li>
                           <li><strong>Precio: </strong>$900</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="Acsesorios">
         <h2>Accesorios</h2>
         <div class="contenido">
            <div class="bloque">
               <div class="fila">
                  <div class="producto">
                     <img width="220 px" height="200 px" th:src="@{/productos-images/accesorio1.jpg}" alt="Cepillo">
                     <ul>
                        <li>Cepillo Grande Plástico Punta Protegida </li>
                        <li>Medida: 15 x 10cm</li>
                        <li>Material de las cerdas: Acero inoxidable</li>
                        <li>Cepillo para perros y gatos</li>
                        <li><strong>Precio: </strong>$665</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="220 px" height="200 px" th:src="@{/productos-images/accesorio2.jpg}"
                        alt="Plato para comida">
                     <ul>
                        <li>Comedero </li>
                        <li>Medidas: 18cm x 12cm x 5cm</li>
                        <li>Material: Acero inoxidable</li>
                        <li><strong>Precio: </strong>$735</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="220 px" height="200 px" th:src="@{/productos-images/accesorio3.jpg}"
                        alt="Cama para mascotas">
                     <ul>
                        <li>Camita estrellas para perros y gatos</li>
                        <li>Modelo Compacto multifunción y liviano</li>
                        <li>Funda con cierre: es lavable y vas a poder sacar y lavarla rápido y fácil la funda</li>
                        <li>Medidas: 50x40x30</li>
                        <li><strong>Precio: </strong>$8500</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="220 px" height="200 px" th:src="@{/productos-images/arnes.jpg}"
                        alt="Arnes para conejos,gatos,roedores">
                     <ul>
                        <li>Arnes Pretal Roedores Bebé Cobayos Conejos Gatos</li>
                        <li>Cuello 10cm a 15cm</li>
                        <li>Panza 13cm a 20cm</li>
                        <li>Es un arnés ajustable de nylon especialmente concebido para llevar a su mascota pequeña con
                           usted</li>
                        <li><strong>Precio: </strong>$4465</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="220 px" height="200 px" th:src="@{/productos-images/accesorio4.jpg}"
                        alt="Trnsportador de mascota">
                     <ul>
                        <li>Transportador Atlas 10</li>
                        <li>Caja de viaje para gatos y perros</li>
                        <li>Dimensiones: Largo 48 cm x Ancho 32,5 cm x Alto 29 cm</li>
                        <li>Tiene unas aberturas de ventilación en los costados para que el interior siempre tenga aire
                           fresco</li>
                        <li><strong>Precio: </strong>$13990</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="Juguetes">
         <h2>¡Juguetes!</h2>
         <div class="contenido">
            <div class="bloque">
               <div class="fila">
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/juguete1.jpg}"
                        alt="Juguete de goma">
                     <p>Juguete de goma para perros, sirve para mascar y ayuda en la limpieza de dientes.Tiene
                        elasticidad suave,Ideal para cachorros</p>
                     <p><strong>Precio: </strong>$11900</p>
                  </div>
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/juguetegato.jpg}"
                        alt="Juguete para gato">
                     <p>Juguete Interactivo Para Gatos: Son diseñados para despertar el instinto cazador de tu gato y
                        son ideales para el vínculo entre el ser humano y su mascota.</p>
                     <p><strong>Precio: </strong>$670</p>
                  </div>
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/juguetehamster.jpg}"
                        alt="Juguetes para conejos/hamster">
                     <p>Juguetes Masticables De Conejo/Hámster: Paquete de 11 juguetes de madera: juguetes de madera
                        para mascotas, conejo, hámster, juego de dientes, juego combinado de productos
                        Natural y no tóxico.</p>
                     <p><strong>Precio: </strong>$1050</p>
                  </div>
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/juguetesoga.jpg}"
                        alt="Nudos para perros">
                     <p> Puro algodón, muy resistente y no daña a su perro. Favorece la limpieza e higiene de la
                        dentadura de su mascota. Ningún juguete para perro/gato es indestructible. Se debe prestar
                        atención a la forma de juego de su mascota, ya que si la intención es romperlo es posible que lo
                        haga.</p>
                     <p><strong>Precio: </strong>$780</p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section id="Mascota">
         <h2>Productos de Cuidados para la mascota</h2>
         <div class="contenido">
            <div class="bloque">
               <div class="fila">
                  <div class="producto">
                     <img width="270 px" height="200 px" th:src="@{/productos-images/vitaminas.jpg}"
                        alt="Vitaminas para mascotas">
                     <ul>
                        <li>Vitaminas y minerales</li>
                        <li>Proporciona multitud de micronutrientes esenciales</li>
                        <li>Incrementa el apetito de tu mascota y también ayuda a mejorar el aspecto del pelo de tu
                           perro</li>
                        <li><strong>Precio: </strong>$4600</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/shampooparagatos.jpg}"
                        alt="Shampoo para gatos">
                     <ul>
                        <li>Shampoo para gatos</li>
                        <li>Control de pulgas, piojos y garrapatas</li>
                        <li><strong>Precio: </strong>$1130</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/limpiador.jpg}" alt="Limpiador de orejas">
                     <ul>
                        <li>Bioline Cuidado de Orejas es para perros, gatos y otros animales pequeños</li>
                        <li>Limpia suavemente las orejas, mejora el procedimiento de auto limpieza y desodoriza.</li>
                        <li>Con cuenta gotas especiales para usar fácilmente.</li>
                        <li><strong>Precio: </strong>$3390</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/pipeta.jpg}" alt="Pipetas">
                     <ul>
                        <li>SPOT MAX PERROS</li>
                        <li>Pipeta pulguicida, garrapaticida y repelente de insectos</li>
                        <li><strong>Precio: </strong>$550</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img th:src="@{/productos-images/collaresantipulgas.jpg}" alt="Collar antipulgas">
                     <ul>
                        <li>Collar pulguicida, garrapaticida y piojicida</li>
                        <li>Prevención y control de infestaciones por pulgas, garrapatas y todo tipo de parásitos
                           externos.</li>
                        <li><strong>Precio: </strong>$1500</li>
                     </ul>
                  </div>
                  <div class="producto">
                     <img width="240 px" height="200 px" th:src="@{/productos-images/rasqueta.jpg}"
                        alt="Cepillo para Mascotas">
                     <ul>
                        <li>Con el cepillado habitual logramos eliminar los pelos muertos y partículas de suciedad
                           grandes que son los causantes de malos olores y picazón.</li>
                        <li>La manopla proporciona un agradable masaje.</li>
                        <li><strong>Precio: </strong>$439</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

</body>

</html>