<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Productos</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="container">
         <div class="productos-container">
            <div class="row">
               <div class="col-12">
                  <section class="section-productos">
                     <div class="row text-center">
                        <h3 class="title-productos ">Productos</h3>
                        <article class="article-productos ">
                           <div class="col-12">
                              <img class="imagen-productos m-auto" th:src="@{/productos-images/productos-banner.jpg}"
                                 alt="Suministros para mascotas">
                           </div>
                        </article>
                     </div>

                     

                     <div class="row">
                        <article class="article-productos">
                           <div class="row">
                              <div class="producto-info col-12">
                                 <h3>Alimentos</h3>
                              </div>
                              <div th:each="prod : ${productos}" th:if="${prod.categorias.nombre == 'Alimentos'}" class="producto-contenido col-12 col-md-6 col-lg-4">
                                 <div class="producto">
                                    <img th:src="${prod.imagen}">
                                    <h5 th:text="${prod.nombre}"></h5>
                                    <p th:text="'$'+${prod.precio}"></p>

                                 </div>
                              </div>                              
                           </div>
                        </article>
                     </div>

                     <div class="row">
                        <article class="article-productos">
                           <div class="row">
                              <div class="producto-info col-12">
                                 <h3>Accesorios</h3>
                              </div>
                              <div th:each="prod : ${productos}" th:if="${prod.categorias.nombre == 'Accesorios'}" class="producto-contenido col-12 col-md-6 col-lg-4">
                                 <div class="producto">
                                    <img th:src="${prod.imagen}">
                                    <h5 th:text="${prod.nombre}"></h5>
                                    <p th:text="'$'+${prod.precio}"></p>
                                 </div>
                              </div>   
                           </div>
                        </article>
                     </div>

                     <div class="row">
                        <article class="article-productos">
                           <div class="row">
                              <div class="producto-info col-12 columna">
                                 <h3>Juguetes!</h3>
                              </div>
                              <div th:each="prod : ${productos}" th:if="${prod.categorias.nombre == 'Juguetes'}" class="producto-contenido col-12 col-md-6 col-lg-4">
                                 <div class="producto">
                                    <img th:src="${prod.imagen}">
                                    <h5 th:text="${prod.nombre}"></h5>
                                    <p th:text="'$'+${prod.precio}"></p>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </section>
               </div>
            </div>
         </div>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>