<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Servicio de Paseos</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="servicio-paseos container">
      <section>
         <article>
            <table>
               <tr>
                  <th>Dia</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miercoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                  <th>Sabado</th>
               </tr>
               <tr>
                  <th>Horario</th>
                  <td>9 a 12 - 16 a 18</td>
                  <td>9 a 12 - 16 a 18</td>
                  <td>9 a 12 - 16 a 18</td>
                  <td>9 a 12 - 16 a 18</td>
                  <td>9 a 12 - 16 a 18</td>
                  <td>9 a 12 - 16 a 18</td>
               </tr>
               <tr>
                  <th>Paseador</th>
                  <td>Juan Pérez</td>
                  <td>Lucas Díaz</td>
                  <td>Juan Pérez</td>
                  <td>María Gómez</td>
                  <td>Lucas Díaz</td>
                  <td>Roberto Vázquez</td>
               </tr>
            </table>
         </article>
      </section>
      <div class="servicio-paseadores">
         <img width="500 px" height="300 px" th:src="@{/productos-images/petshop.jpg}"
            alt="Suministros para mascotas">
         <p>Contrata nuestro servicio y reserva tu turno!</p>
         <p>Tel: 3884569876</p>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

</body>

</html>