<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Servicios</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="servicio-paseos container m-auto">
         <div class="row">
         
	        <div class="row">
	           <div class="col-12">
	              <div class="servicio-paseadores row">
	                 <div class="servicio-imagen col-12 col-md-4">
	                 <img th:src="@{/productos-images/petshop.jpg}"
	                       alt="Suministros para mascotas">
	                 </div>
	                 <div class="servicio-info col-12 col-md-8">
	                    <p>Anotate a nuestro servicio y llamanos para reservar tu turno!</p>
	                    <p>Teléfono: 3884569876</p>
	                 </div>
	              </div>
	           </div>
	        </div>
         
            <div class="col-12">
               <section>
                  <article>
                     <div class="table-responsive">
                     	<h4 class="mb-3 text-center fw-bold">Informacion sobre los servicios</h4>
                        <table class="table table-striped align-middle fw-bold" id="tabla-de-servicios">
                           <tr class="table-dark">
                              <th>Dia</th>
                              <th>Lunes</th>
                              <th>Martes</th>
                              <th>Miercoles</th>
                              <th>Jueves</th>
                              <th>Viernes</th>
                           </tr>
                           <tr>
                              <th class="table-dark">Horario</th>
                              <td>9:00 - 13:00<br>17:00 - 22:00 </td>
                              <td>9:00 - 13:00<br>17:00 - 22:00 </td>
                              <td>9:00 - 13:00<br>17:00 - 22:00 </td>
                              <td>9:00 - 13:00<br>17:00 - 22:00 </td>
                              <td>9:00 - 13:00<br>17:00 - 22:00 </td>
                           </tr>
                           <tr>
                              <th class="table-dark">Paseador</th>
                              <td>Juan Pérez</td>
                              <td>Lucas Díaz</td>
                              <td>Juan Pérez</td>
                              <td>María Gómez</td>
                              <td>Lucas Díaz</td>
                           </tr>
                           <tr>
                              <th class="table-dark">Peluquero</th>
                              <td>Jose Tolaba</td>
                              <td>Marta Juanes</td>
                              <td>Alfredo Espinosa</td>
                              <td>Alfredo Espinosa</td>
                              <td>Jose Tolaba</td>
                           </tr>
                           <tr>
                              <th class="table-dark">Bañador</th>
                              <td>Lucas Páez</td>
                              <td>Kevin Rodriguez</td>
                              <td>Matias Quispe</td>
                              <td>Lucas Páez</td>
                              <td>Kevin Rodriguez</td>
                           </tr>
                        </table>
                     </div>
                  </article>
               </section>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <a class="btn btn-dark" th:href="@{/servicios/nuevo}">Anotarme!</a>
               <section>
                  <article>
                  	 <h4 class="mb-3 text-center fw-bold">Listado de Personas que reservaron su turno</h4>
                     <div class="table-responsive">
                        <table class="table table-striped fw-bold align-middle" id="tabla-de-servicios">
                           <thead>
                              <tr>
                                 <th>Dueño</th>
                                 <th>Nombre</th>
                                 <th>Servicio</th>
                                 <th>Dia</th>
                                 <th>Hora</th>
                                 <th>Acciones</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr th:each="servi: ${servicios}">
                                 <td th:text="${servi.nombre}"></td>
                                 <td th:text="${servi.nombreMascota}"></td>
                                 <td th:text="${servi.servicio}"></td>
                                 <td th:text="${servi.dia}"></td>
                                 <td th:text="${servi.hora}"></td>
                                 <td>
                                    <a class="btn btn-secondary" th:href="@{/servicios/modificar/}+${servi.nombre}">Modificar</a>
                                    <a class="btn btn-danger" th:href="@{/servicios/eliminar/}+${servi.nombre}">Eliminar</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </article>
               </section>
            </div>
         </div>

      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>