<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Servicios</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="servicio-paseos container">
         <div class="row">
            <div class="col-12">
               <section>
                  <article>
                     <div class="table-responsive">
                        <table>
                           <tr>
                              <th>Dia</th>
                              <th>Lunes</th>
                              <th>Martes</th>
                              <th>Miercoles</th>
                              <th>Jueves</th>
                              <th>Viernes</th>
                              <th>Sabado</th>
                           </tr>
                           <tr>
                              <th>Horario</th>
                              <td>9 a 12 - 16 a 18</td>
                              <td>9 a 12 - 16 a 18</td>
                              <td>9 a 12 - 16 a 18</td>
                              <td>9 a 12 - 16 a 18</td>
                              <td>9 a 12 - 16 a 18</td>
                              <td>9 a 12 - 16 a 18</td>
                           </tr>
                           <tr>
                              <th>Paseador</th>
                              <td>Juan Pérez</td>
                              <td>Lucas Díaz</td>
                              <td>Juan Pérez</td>
                              <td>María Gómez</td>
                              <td>Lucas Díaz</td>
                              <td>Roberto Vázquez</td>
                           </tr>
                        </table>
                     </div>
                  </article>
               </section>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <a class="btn btn-secondary" th:href="@{/servicios/nuevo}">Anotarte</a>
               <section>
                  <article id="tabla-de-servicios">
                     <div class="table-responsive">
                        <table class="table-servicios">
                           <thead>
                              <tr>
                                 <th>Dueño</th>
                                 <th>Nombre</th>
                                 <th>Servicio</th>
                                 <th>Dia</th>
                                 <th>Acciones</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr th:each="servi: ${servicios}">
                                 <td th:text="${servi.nombre}">Maria</td>
                                 <td th:text="${servi.nombreMascota}">Tutu</td>
                                 <td th:text="${servi.servicio}">Peluqueria</td>
                                 <td th:text="${servi.dia}">Jueves</td>
                                 <td>
                                    <a class="btn btn-secondary" th:href="@{/servicios/modificar/}+${servi.nombre}">Modificar</a>
                                    <a class="btn btn-danger" th:href="@{/servicios/eliminar/}+${servi.nombre}">Eliminar</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </article>
               </section>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <div class="servicio-paseadores row">
                  <div class="servicio-imagen col-12 col-md-4">
                  	<img th:src="@{/productos-images/petshop.jpg}"
                     alt="Suministros para mascotas">
                  </div>
                  <div class="servicio-info col-12 col-md-8">
                  	<p>Anotate a nuestro servicio y llamanos para reservar tu turno!</p>
                  	<p>Teléfono: 3884569876</p>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>