<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Sucursales</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="sucursales container">
      <div class="sucursal">
         <img class="imagen-producto" th:src="@{/sucursales-images/sucursal-patitas.jpg}"
            alt="antipulgas y garrapatas" />
         <h1> VETERINARIA "PATITAS"</h1>
         <p>Ubicada en calle Fasio esquina Lavalle.Horario de atención de 9hs a 13hs y 17 hs a 20:30.Se reciben
            transferencias y todas las tarjetas de crédito.Teléfono de contacto: 3884767676 </p>
      </div>
      <div class="sucursal">
         <img class="imagen-producto" th:src="@{/sucursales-images/el-arriero.jpg}"
            alt="antipulgas y garrapatas" />
         <h1> VETERINARIA "El Arriero"</h1>
         <p>Ubicada en calle Urdininea N°320. Horario de atención de 8:30hs a 13:30 y 17:30 a 20:30. Se reciben tarjetas de
            crédito y débito .Teléfono de contacto: 3884565565 </p>
      </div>
      <div class="sucursal">
         <img class="imagen-producto" th:src="@{/sucursales-images/sucursal2.jpg}"
            alt="antipulgas y garrapatas" />
         <h1> VETERINARIA "SAN ROQUE"</h1>
         <p>Ubicada en calle Independencia N°567. Horario de tención de 9hs a 13 y 17hs a 20 hs.Se reciben tarjetas de
            crédito y débito.Urgencias las 24 hs Teléfono de contacto: 388487887 </p>
      </div>
      <div class="sucursal">
         <img class="imagen-producto" th:src="@{/sucursales-images/sucursal3.jpg}"
            alt="antipulgas y garrapatas" />
         <h1> VETERINARIA "PET CENTER"</h1>
         <p>Ubicada en calle Juana Manuela Gorriti N°456. Horario de tención de 8:30 hs a 12:30 y 17hs a 20 hs.Se reciben tarjetas
            de débito y transferencias.Teléfono de contacto: 388478952 </p>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

</body>

</html>