<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <title>Sucursales</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

   <header th:replace="~{layouts/header :: header}"></header>

   <div class="container-fluid">
      <div class="sucursales-container container m-auto">
         <section class="section-sucursales row">
            <article class="article-sucursales col-12">
            
<!--              <p>se paso la tabla a la pagina gestion</p> -->
                            
            </article>
         </section>
		 
         <div class="row mt-3">
            <div class="col-12">
               <article class="article-sucursales row d-flex flex-wrap">
               		  <h3 class="text-center">Visita nuestras Sucursales!</h3>
	                  <div th:each="sucu: ${sucursales}"
	                       th:classappend="${sucu.estado} ? 'd-block' : 'd-none'" class="sucursal col-12 col-md-6">
	                  	  <div  class="sucursal-body">
		                     <img class="imagen-producto" th:src="@{${sucu.imagen}}"
		                        alt="antipulgas y garrapatas" />
		                     <h2 th:text="${sucu.nombre}"></h2>
		                     <p th:text="'Direccion: ' + ${sucu.direccion} + ', ' + ${sucu.barrio}"></p>                     
		                     <p th:text="${sucu.ciudad} + ', ' + ${sucu.provincia.nombre}"></p>
		                     <p th:text="'Telefono: ' + ${sucu.telefono} + ' - ' + ${sucu.estadoStr}"></p>
		                  </div>
	                  </div>
               </article>
            </div>
         </div>
      </div>
   </div>

   <footer th:replace="~{layouts/footer :: footer}"></footer>

   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>