body {
	background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    overflow-x: hidden;
}

header {
    background-color: lightblue;
    font-size: 25px;
    font-family: 'Lobster', cursive;
/*   	font-family: sans-serif, Times New Roman, Arial, Helvetica; */
 	font-style: oblique;
}

header .titulo {
	padding: 20px;
}

nav {
	background-color: darkslategray;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

header nav ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

header nav ul li:hover {
	background-color: #eee;
}

header nav ul li:hover a {
	color: darkslategray;
}

.container {
	padding: 20px 50px;
}

footer {
    padding: 30px;
    color: #fff;
    background-color: blue;
}

/* Pagina de inicio */
.pagina-inicio img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
/* Fin */

/* Pagina de productos */
.productos img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
/* Fin productos*/

/* Consejos de salud */
.consejos-de-salud .producto {
    border-radius: 5px;
    display: inline-block;
    margin: 0px 5px;
    width: 200px;
    border: solid 1px #000;
}

.consejos-de-salud .imagen-producto {
	height: 200px;
    width: 200px;
    margin: 0;
}

.consejos-de-salud .producto h5 {
    background-color: lightblue;
    padding: 5px;
    margin-top: 0;
}

.consejos-de-salud .producto p {
    padding: 5px;
}
/* Fin consejos de salud */

/* Pagina de paseos */
.servicio-paseos img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
/* Fin paseos*/

/* Pagina de sucursales */
.sucursales .sucursal {
	width: 500px;
	display: inline-block;
	padding: 20px;
	margin: 5px;
	border: solid 1px #000;
	border-radius: 10px;
}

.sucursales img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
/* Fin sucursales*/

/* Contacto */
.contacto {
	text-align: center;
}

.contacto ul li {
	list-style: none;
	display: inline-block;
}

.contacto ul li {
	background-color: blue;
	display: inline-block;
	list-style: none;
	padding: 10px;
}

.contacto ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.contacto ul li:hover {
	background-color: darkblue;
}
/* Fin contacto */