* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    overflow-x: hidden;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

header {
    background-color: lightblue;
    font-size: 25px;
    font-family: 'Lobster', cursive;
/*   	font-family: sans-serif, Times New Roman, Arial, Helvetica; */
 	font-style: oblique;
}

header .titulo {
	padding: 20px;
	text-align: center;
	color: #444;
}

nav {
	background-color: darkslategray;
	text-align:center;
}

header nav ul {
	padding-left: 50px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	padding: 10px 20px;
	border: none;
	outline: none;
}

header nav ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

header nav ul li:hover {
	background-color: #eee;
	border: none;
	outline: none;
}

header nav ul li:hover a {
	color: darkslategray;
	border: none;
	outline: none;
}

.container {
	padding: 20px 50px;
}

footer {
    padding: 30px;
    color: #aaa;
    background-color: darkslategray;
    text-align: center;
}

/* Pagina de inicio */
.pagina-inicio img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
.imagen-banner {
	width: 100%;
	height: 400px;
}

.pagina-inicio {
	height: 600px;
	margin-bottom: 10px
}
.pagina-inicio section {
	width: 68%;
	float: left;
	padding: 40px 50px;
	background-color: lightblue;
	margin-right: 20px
}

.pagina-inicio section article {
	margin-bottom: 50px;
	font-size: 20px;
	color: #fff;
	padding: 20px 30px;
	background-color: darkslategray;
	border: 5px solid #fff;
	box-shadow: -3px 5px 3px 0px #555;
}
.pagina-inicio aside {
	width: 30%;
	height: 547px;
	float: right;
	padding: 20px;
	background-color: lightblue;
}
.pagina-inicio aside img {
	width: 100%;
	height: 400px;
	box-shadow: none;
	padding: 0;
	border-radius: 0px;
}
.pagina-inicio aside h2 {
	color: #fff;
	padding: 10px 10px;
	text-align: center;
	background-color: darkslategray;
	margin-bottom: 15px;
	border: 3px solid #fff;
}


/* Fin */



/* Pagina de productos */
.productos img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
.producto li{
	list-style: none;
}
#imagenproductos{ 
	display:block;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	padding:30px;
}
.productos-container{
	background: lightblue;
	text-align:center;
}
#Alimentacion{
	background:lightblue;
	border: solid 2px #000;
	width:100%;
	height:1700px;
}
#AlimentoGato{
	background:lightblue;
	margin-left: 250px;
	margin-right: 250px;
}
#alimentoc{
	background:lightblue ;
	margin-left: 250px;
	margin-right: 250px;
}

#Juguetes{
	background:lightblue;
	border: solid 2px #000;
	width:100%;
	height:560px;
}
#Acsesorios{
	background:lightblue;
	border: solid 2px #000;
	width:100%;
	height:560px;
}
#Mascota{
	background:lightblue;
	border: solid 1px #000;
	width:100%;
	height:560px;
}
.contenido{
	width: 100%;
	margin: auto;
	display: flex;
}
.bloque{
	width:100%;
}
.bloque .fila {
	display:flex;
	justify-content: space-between;
	margin-bottom:20px;
}
.bloque .fila .producto{
	width:20 px;
	height:20px;
	margin:5px 10px;
}
.bloque .fila .producto img{
	height: 200px;
    width: 200px;
}
.bloque .fila .producto{
	height: 500px;
    width: 300px;
    border: solid 1px #000;
    background:#e6ffff;
}
/* Fin productos*/

/* Consejos de salud */
.consejos-de-salud .producto {
    border-radius: 5px;
    display: inline-block;
    margin: 0px 5px;
    width: 200px;
    border: solid 1px #000;
}

.consejos-de-salud .imagen-producto {
	height: 200px;
    width: 200px;
    margin: 0;
}

.consejos-de-salud .producto h5 {
    background-color: lightblue;
    padding: 5px;
    margin-top: 0;
}

.consejos-de-salud .producto p {
    padding: 5px;
}
/* Fin consejos de salud */

/* Pagina de paseos */
.servicio-paseos img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
.servicio-paseos { 
	height: 550px;
}
.servicio-paseos section article table {
	border: 1px solid #000;
	background-color: #000;
	width: 1300px;
}
.servicio-paseos section article table tr th,
.servicio-paseos section article table tr td {
	font-size: 20px;
	padding: 5px 10px;
	border: 1px solid #000;
	background-color: #fff;
}
.servicio-paseos section article table tr th {
	background-color: #545566;
	color: #fff;
	text-align: center;
}
.servicio-paseos section article table tr td {
	background-color: #ccc;
	color: #000;
	text-align: center;
	font-weight: bold;
}
.servicio-paseadores {
	margin-top: 30px;
	background-color: darkslategray;
	padding: 20px;
	height: 230px;
}
.servicio-paseadores img {
	width: 400px;
	height: 100%;
	box-shadow: none;
	float: left;
	border-radius: 0px;
	padding-right: 30px;
}
.servicio-paseadores p {
	font-size: 30px;
	font-weight: bold;
	float: rigth;
	color: #fff;
}

/* Fin paseos*/

/* Pagina de sucursales */
.sucursales .sucursal {
	width: 500px;
	display: inline-block;
	padding: 20px;
	margin: 5px;
	border: solid 1px #000;
	border-radius: 10px;
}

.sucursales img {
	border-radius: 15px;
	box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 11px -5px rgba(0,0,0,0.75);
}
/* Fin sucursales*/

/* Contacto */
.contacto {
	text-align: center;
	font-size: 20px;
	margin: 20px auto;
	width: 700px;
	border: solid 2px #000;
	border-radius: 30px 25px;
	background: #b3d9ff;
}

.contacto ul li {
	list-style: none;
	display: inline-block;
}
input {
	background: #f2e6ff;
	border-radius: 10px;
	margin:4px 6px;
	font-family: 'Lobster', cursive;
	text-align: center; 
}
#correo {
	color:#0066cc;
}
button{
	background: blue;
	color:#fff;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    margin:15px 13px;
}
.contacto ul li {
	background-color: blue;
	display: inline-block;
	list-style: none;
	padding: 10px;
}
.contacto ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.contacto ul li:hover {
	background-color: darkblue;
}
/* Fin contacto */