<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <title>Footer</title>
</head>

<body>
   <footer>
      <p>Copyright 2023 - El Arriero - Diseñado por Grupo 16 – Jujuy – República Argentina</p>
   </footer>
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>