<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <title>Insert title here</title>
</head>

<body>
   <header>
      <div class="titulo">
         <h1>Bienvenido a nuestra Tienda de Mascotas "El Arriero"</h1>
      </div>
      <nav>
         <ul>
            <li><a th:href="@{/inicio}">Inicio</a></li>
            <li><a th:href="@{/productos}">Productos</a></li>
            <li><a th:href="@{/consejos_de_salud}">Consejos de Salud</a></li>
            <li><a th:href="@{/servicios/listado}">Servicio de Paseos</a></li>
            <li><a th:href="@{/sucursales}">Sucursales</a></li>
            <li><a th:href="@{/contacto}">Contactanos</a></li>
         </ul>
      </nav>
   </header>
</body>

</html>